</div>
<footer>
  <p>Created by: David Faria</p>
  <p>Age: 27 | Location: Toronto, ON | Occupation: Frontend Web Developer</p>
  <p>Email: DavidFaria@webdev.com | GitHub: github.com/davidfariaGIT</p>
  <p>&copy; <%= new Date().getFullYear() %></p>
</footer>
</body>
</html>
