<!DOCTYPE html>
<html class="bg-orange-50">
<head>
<title>Page 3</title>
<link rel="stylesheet" href="/css/main.css"/>
<script src="https://unpkg.com/@tailwindcss/browser@4"></script>

</head>
<body>
  <%- include('partials/header') %>

  <div class="ml-25 mt-30 mb-45 flex flex-wrap justify-center gap-8">
    <div class="card w-130 bg-purple-900 shadow-lg">
      <div class="card-body">
        <p class="text-lg italic"><%= data.InfoOne %></p>
        <h4 class="font-semibold">John Doe</h4>
        <span class="text-sm text-gray-500">Custom Keyboard Enthusiast</span>
      </div>
    </div>

    <div class=" mb-45 card w-130 bg-purple-900 shadow-lg">
      <div class="card-body">
        <p class="text-lg italic"><%= data.InfoTwo %></p>
        <h4 class="font-semibold">Sarah Smith</h4>
        <span class="text-sm text-gray-500">Tech Blogger</span>
      </div>
    </div>
  </div>

  <%- include('partials/footer') %>
</body>
</html>
