<!DOCTYPE html>
<html class="bg-orange-50">
<head>
<title>Page 1</title>
<link rel="stylesheet" href="/css/main.css"/>
<script src="https://unpkg.com/@tailwindcss/browser@4"></script>

</head>
<body>
  <%- include('partials/header') %>

  <div class="carousel w-250 max-h-190  ml-90">
    <div id="slide1" class="carousel-item relative w-full">
      <img src="css/images/718.jpg" alt="Keyboard Model 1" class="w-full rounded-lg shadow-lg"/>
    </div>
    <div id="slide2" class="carousel-item relative w-full">
      <img src="css/images/rsz_holynickepic.jpg" alt="Keyboard Model 2" class="w-full rounded-lg shadow-lg"/>
    </div>
    <div id="slide3" class="carousel-item relative w-full">
      <img src="css/images/The-Cajal-1024x576.jpeg" alt="Keyboard Model 3" class="w-full rounded-lg shadow-lg"/>
    </div>
    <div class="flex justify-center gap-4 absolute top-2/3 transform -translate-y-1/2 w-260">
      <a href="#slide1" class="btn btn-primary">1</a>
      <a href="#slide2" class="btn btn-primary">2</a>
      <a href="#slide3" class="btn btn-primary">3</a>
    </div>
  </div>

  <%- include('partials/footer') %>
</body>
</html>
