<!DOCTYPE html>
<html class="bg-orange-50">
<head>
<title>Page 4</title>
<link rel="stylesheet" href="/css/main.css"/>
<script src="https://unpkg.com/@tailwindcss/browser@4"></script>

</head>
<body>
  <%- include('partials/header') %>

  <div class="collapse text-black collapse-plus border border-base-300 rounded-box">
    <input type="checkbox" class="peer"/>
    <div class="collapse-title text-xl font-medium">
      What is a custom keyboard?
    </div>
    <div class="collapse-content">
      <p><%= data.Pone %></p>
    </div>
  </div>

  <div class="collapse text-black collapse-plus border border-base-300 rounded-box">
    <input type="checkbox" class="peer"/>
    <div class="collapse-title text-xl font-medium">
      How long does it take to build a custom keyboard?
    </div>
    <div class="collapse-content">
      <p><%= data.Ptwo %></p>
    </div>
  </div>

  <%- include('partials/footer') %>
</body>
</html>
