<%- include('partials/header') %>
<link rel="stylesheet" href="/css/main.css" />
<div>
  <h2>Account Settings</h2>

  <% data.categories.forEach(category => { %>
    <div>
      <h3><%= category.name %></h3>
      <ul>
        <% category.options.forEach(option => { %>
          <li><a href="#"><%= option %></a></li>
        <% }); %>
      </ul>
    </div>
  <% }); %>
</div>

<%- include('partials/footer') %>
